@use "components/navbar";
@use "components/toTopArrow";
@use "components/browseLanding";
@use "components/lyrics";
@use "components/translation";
@use "components/searchBar";
@use "components/flashMessage";
@use "components/danceabilityRoute";
@use "components/result";
@use "components/mainContainer";
@use "components/album";
@use "components/loadingIcon";
@use "components/searchFontColors";
@use "components/browseByDanceabilityFontColors";
@use "components/browseByArtistsFontColors";
@use "components/browseByGenreFontColors";
@use "mediaQueries";

html, body {
  min-width: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
}