.Browse-Categories {
  background: linear-gradient(to right, #16bdfa 0%,#357ffe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Genres {
  background: linear-gradient(to right, #ff4bde 0%, #b84dfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Artists {
  background: linear-gradient(to right, #ffa114 0%, #d563c0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Albums {
  background: linear-gradient(to right, #bf6571 0%, #ffb22e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Tracks {
  background: linear-gradient(to right, #6a2fdc 0%, #8943b5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Language {
  background: linear-gradient(to right, #9161db 0%, #c594bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Genre-Language-Text {
  color: #e3b2af;
}

.Genre-Language-Button {
  color: #e3b2af;
}

.Genre-Lyrics {
  background: linear-gradient(to right, #4f1efe 0%, #7c3bc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Genre-Translation {
  background: linear-gradient(to right, #7c3bc5 0%, #c1666f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}