.Danceability-Track-Subheader {
  background: linear-gradient(to right, #4f1efe  0%, #7c3bc5  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Danceability-Track-Header {
  background: linear-gradient(to right, #4f1efe 0%, #7c3bc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Danceability-Language {
  background: linear-gradient(to right, #7c3bc5 0%, #d383fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Danceability-Language-Text {
  color: #9eb5fa;
}

.Danceability-Language-Button {
  color: #9eb5fa;
}

.Danceability-Lyrics {
  background: linear-gradient(to right, #4f1efe 0%, #7c3bc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Danceability-Translation {
  background: linear-gradient(to right, #7c3bc5 0%, #f263a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}