.Search-Landing {
  background: linear-gradient(to right, #ff76e4 0%, #d437ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Search-Landing-Text {
  color: #A800FF;
}

.Search-Landing-Button {
  color: #A800FF;
}

.Search-Track-Subheader {
  background: linear-gradient(to right, #ff7ebc 0%, #ee67fa  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Search-Track-Header {
  background: linear-gradient(to right, #ff7ebc  0%, #ee67fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Search-Language {
  background: linear-gradient(to right, #ee67fa 0%, #bf00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Search-Language-Text {
  color: #6000FF;
}

.Search-Language-Button {
  color: #6000FF;
}

.Search-Lyrics {
  background: linear-gradient(to right, #d1f1fc 0%, #80d9ff  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Search-Translation {
  background: linear-gradient(to right, #80d9ff  0%, #f04fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}